body {
    color: white;
    background: black;
    font-family: "Chakra Petch", sans-serif;

}
header {
   border-bottom: solid 2px rgb(22, 97, 228);
   padding: 20xp;
   font-size: 32xp;
   color: rgb(22, 97, 228)

}
h1 {
    font-size: 40px;
}